* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.wrap__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1f1c26;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1164px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

[class*='col-'] {
  padding-left: 12px;
  padding-right: 12px;
}

.fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HEADER  */
.header {
  position: relative;
  top: 0;
  z-index: 100;
  margin-top: 65px;
}

.header__logo img {
  width: 237px;
  height: 122px;
}

.header__nav {
  width: 100%;
}

.header__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 50px 0;
}

.header__list a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #f2f2f2;
  padding-bottom: 5px;
  border-bottom: 5px solid transparent;
}

.header__list a:hover {
  color: #f24b88;
  border-bottom: 5px solid #59253e;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.btn__login {
  background-color: #f24b88;
  border: 1px solid #f24b88;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  color: #f2f2f2;
  width: 57px;
  height: 21px;
  border: 1px solid #f2f2f2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn__singin {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  color: #f2f2f2;
  width: 57px;
  height: 21px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn__singin:hover {
  color: #fff;
  background-color: #f24b88;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.nav__mobile--menu--btn {
  display: none;
}

/* MAIN MAIN MAINM  */
.mobile-bg {
  position: fixed;
  top: 0;
  background: url(../img/blur.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.main {
  padding-top: 40px;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  padding-bottom: 5px;
}

.title__border {
  width: 60px;
  height: 5px;
  background-color: #59253e;
}

/* Trainer - block */
.wrapper-trainer {
  /* display: flex; */
}

.trainer {
  padding-top: 95px;
  padding-bottom: 75px;
  padding-left: 12px;
  padding-right: 12px;
}

.trainer__thumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 3px;
}

.trainer__description {
  background-color: #fff;
}

.trainer__name {
  background-color: #fff;
  padding: 20px 0 0 10px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #0d0d0d;
}

.description__title {
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #332f3c;
}

.description__text {
  padding: 10px 10px 60px 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.description__button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 39%;
  height: 36px;
  background: #f24b88;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  margin-left: 57%;
  margin-bottom: 5%;
  color: #ffffff;
  cursor: pointer;
}

.description__button:hover {
  background-color: #7a0152;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.mobile__btn--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__btn {
  width: 90px;
  height: 36px;
  margin: 20px 0;
  display: none;
}

.bottom__line {
  margin: 0px auto;
  width: 98%;
  height: 1px;
  background-color: #f2f2f2;
}

/* foooooooooter */
.footer {
  padding-bottom: 65px;
}

.container__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 37px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo--description {
  padding-top: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  padding-bottom: 10px;
}

/* links img */
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.svg__link {
  width: 39px;
  height: 39px;
  margin: 0 4px;
  border: 9px solid transparent;
  border-radius: 50%;
  fill: #fff;
  background: #59253e;
}

.svg__link:hover {
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  background-color: #f2f2f2;
  fill: black;
}

.wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.links-title__name {
  padding-top: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.links-title__name:hover {
  color: #f24b88;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.form__lable {
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.form__lable:hover {
  color: #f24b88;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.form__input {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.subscribe__button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  width: 98px;
  height: 36px;
  background: #f24b88;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: #7a0152;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.under__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyring {
  padding-top: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
  .body {
    background-color: green;
  }
  .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666%;
            flex: 0 0 16.6666%;
    max-width: 16.666%;
  }
  .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666%;
            flex: 0 0 41.6666%;
    max-width: 41.666%;
  }
  .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .header {
    margin-top: 0;
    padding: 11px 0px;
  }
  .header__logo img {
    width: 107px;
    height: 55px;
  }
  .nav__mobile--menu {
    width: 25px;
    height: 30px;
    position: relative;
    padding-bottom: 30px;
    left: 80%;
    margin-top: 15px;
  }
  .nav__mobile---menu span {
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transition: 0.025s ease-in-out;
    transition: 0.025s ease-in-out;
  }
  .nav__mobile--menu--btn {
    display: block;
    border: none;
    background-color: #1f1c26;
  }
  .nav__mobile--svg {
    fill: #fff;
  }
  .navigation {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 143px;
    height: 250px;
    max-width: 200px;
    margin-top: 45px;
  }
  .header__list a {
    font-size: 12px;
    line-height: 18px;
  }
  .hidden-menu {
    opacity: 0;
    visibility: hidden;
  }
  .mobile__btn {
    display: block;
  }
  .trainer__description {
    display: none;
  }
  .trainer {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .trainer__name {
    padding-top: 0;
    text-align: center;
    background-color: transparent;
    color: #fff;
  }
  .trainer__thumb img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title {
    font-size: 26px;
  }
  .border-bottom {
    display: inline-block;
    width: 131px;
  }
  .li-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom__line {
    margin-top: 30px;
  }
  .footer__logo--description {
    text-align: center;
  }
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__links {
    padding: 0 35px;
    padding-top: 20px;
  }
  .container__wrapp {
    padding-bottom: 35px;
  }
  .form {
    padding-top: 30px;
  }
  .form__lable {
    text-align: center;
  }
  .copyring {
    text-align: center;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666%;
            flex: 0 0 16.6666%;
    max-width: 16.666%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666%;
            flex: 0 0 41.6666%;
    max-width: 41.666%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .trainer-button {
    font-size: 11px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 960px;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666%;
            flex: 0 0 16.6666%;
    max-width: 16.666%;
  }
  .col-md-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666%;
            flex: 0 0 41.6666%;
    max-width: 41.666%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1170px;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666%;
            flex: 0 0 16.6666%;
    max-width: 16.666%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666%;
            flex: 0 0 41.6666%;
    max-width: 41.666%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333%;
            flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

#mobMenu {
  z-index: 150;
  display: none;
}

.mob__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 38vw;
  height: 40vh;
  background: #59253e;
  -webkit-box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  list-style: none;
  text-align: end;
}

.mob__menu--list {
  list-style: none;
  text-align: center;
}

.mob__menu--item {
  height: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  padding-top: 30px;
}

.mob__btn--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.mob__btn--item {
  list-style: none;
}

.btn__signginn {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

#filter {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
/*# sourceMappingURL=main.css.map */